.btn {
  display: inline-block;
  vertical-align: top;

  margin: 0;
  padding: 9px 7px;

  background-color: $primary-color;

  border: 1px solid #196f94;
  border-radius: 3px;

  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
    
    box-shadow: 0 3px 3px rgba(33, 144, 191, .7);
  }

  &:active {
    color: #d7d9da;
  }

  &--big {
    padding: 17px 50px ;

    font-size: 25px;
  }

  &--orange {
    background-color: #f98561;

    border-color: #f75e2f;

    &:hover {
      box-shadow: 0 3px 3px rgba(249, 133, 97, .7);
    }
  }
}