.main-nav {
  &__list {
    padding: 0;
    margin: 0;

    font-size: 0;
  }

  &__list-item {
    display: inline-block;

    margin: 0;

    list-style: none;
  }

  &__link {
    position: relative;

    display: block;

    margin: 0;
    padding: 33px 22px;

    font-size: 14px;
    line-height: 1;
    color: #515862;
    text-decoration: none;

    &:hover:before {
      content: "";

      position: absolute;
      left: 0;
      bottom: -1px;

      width: 100%;
      height: 10px;

      background-color: #0080b7;
    }

    &:hover:after {
      content: "";

      position: absolute;
      left: 50%;
      bottom: 9px;

      margin-left: -5px;

      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #0080b7;
    }

    &:active {
      opacity: .7;
    }

    &--active {
      background-color: $primary-color;

      color: #fff;

      &:before {
        content: "";

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 10px;

        background-color: #0080b7;
      }

      &:after {
        content: "";

        position: absolute;
        left: 50%;
        bottom: 9px;

        margin-left: -5px;

        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #0080b7;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}

@keyframes main-nav-show {
  from { transform: translateY(-400px); }
  to { transform: translateY(0px); }
}

@keyframes main-nav-hide {
  from { transform: translateY(0px); }
  to { transform: translateY(-500px); }
}

@media #{$mobile-width} {
  .main-nav {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    background-color: #fff;

    z-index: 3;

    &--show {
      display: block;

      animation: main-nav-show .7s;
    }

    &--hide {
      animation: main-nav-hide .9s;
    }

    &__list-item {
      width: 100%;

      text-align: center;
    }

    &__link {
      font-size: 18px;
    }
  }
}
