.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 180px;

  border-bottom: 1px solid #d7d9da;
}

@media #{$tablet-width} {
  .main-header {
    padding: 0 50px;
  }
}

@media #{$mobile-width} {
  .main-header {
    padding: 0 50px;
  }
}
