.main-header {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding: 0 180px;

  border-bottom: 1px solid #d7d9da;

  &__nav-controls {
    display: none;
  }
}

@media #{$tablet-width} {
  .main-header {
    padding: 0 50px;
  }
}

@media #{$mobile-width} {
  .main-header {
    padding: 0 50px;

    &__nav-controls {
      display: flex;
      align-items: center;
      flex-basis: 30px;
    }

    &__nav-controls-btn {
      width: 30px;
      height: 30px;

      fill: #606060;

      cursor: pointer;

      &:hover {
        opacity: .9;

        fill: #2bb9ed;
      }

      &:active {
        fill: #474747;
      }

      &--cross {
        width: 25px;
        height: 25px;
      }

      &--hide {
        display: none;
      }
    }
  }
}
