.news-subscribe {
  &__text {
    font-size: 13px;
    line-height: 20px;
    color: $primary-color;
  }

  &__input {
    width: 100%;

    margin-bottom: 15px;
    padding: 10px;

    border: none;
    border-radius: 3px;

    outline: none;
  }

  &__btn {
    float: right;

    padding: 9px 14px;
  }
}

@media #{$mobile-width} {
  .news-subscribe {
    &__text {
      font-size: 18px;
      line-height: 20px;
    }

    &__btn {
      float: none;

      padding: 10px 50px;

      font-size: 18px;
    }
  }
}
