@keyframes slide-left {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes slide-right {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

@keyframes slide-left-reverse {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slide-right-reverse {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.promo-slider {
  position: relative;

  overflow: hidden;

  &__items {
    position: relative;

    background-color: #303840;
  }

  &__item {
    width: 100%;
    height: 490px;

    padding: 100px 250px 75px 250px;

    background: #303840 url("../img/content/promo-slider_bg.png") no-repeat;
    background-size: cover;

    text-align: center;

    &--hide {
      display: none;
    }

    &--slide-left {
      animation: slide-left .9s
    }

    &--slide-right {
      animation: slide-right .9s
    }

    &--slide-left-reverse {
      position: absolute;
      left: 0;
      top: 0;

      animation: slide-left-reverse .9s
    }

    &--slide-right-reverse {
      position: absolute;
      left: 0;
      top: 0;

      animation: slide-right-reverse .9s
    }
  }

  &__header {
    margin: 0;
    margin-bottom: 25px;

    font-size: 60px;
    line-height: 1;
    color: #cccece;
  }

  &__text {
    margin: 0;
    margin-bottom: 50px;

    font-size: 14px;
    line-height: 16px;
    color: #cccece;
  }

  &__controls {
    position: absolute;
    bottom: 30px;
    right: 180px;
  }

  &__toggle {
    display: none;
  }

  &__control-btn {
    display: inline-block;

    width: 15px;
    height: 15px;

    border: 3px solid #adadad;
    border-radius: 50%;

    background-color: #adadad;

    cursor: pointer;

    &--active {
      background-color: #2190c1;

      border-color: $secondary-color;
    }
  }

  &__btn-arrow {
    position: absolute;
    top: 50%;

    width: 50px;
    height: 50px;

    margin-top: -25px;

    fill: #cccece;

    cursor: pointer;

    &--left {
      left: 50px;

      transform: rotate(180deg);
    }

    &--right {
      right: 50px;
    }

    &:hover {
      fill: #e8e8e8;
    }
  }
}

@media #{$tablet-width} {
  .promo-slider {
    &__item {
      padding-left: 100px;
      padding-right: 100px;
    }

    &__controls {
      right: 50px;
    }
  }
}

@media #{$mobile-width} {
  .promo-slider {
    &__header {
      font-size: 45px;
    }

    &__text {
      font-size: 18px;
      line-height: 20px;
    }

    &__item {  
      padding-top: 25px;
      padding-left: 100px;
      padding-right: 100px;
    }

    &__controls {
      right: 0;
      bottom: 40px;

      width: 100%;

      text-align: center;
    }

    &__btn-arrow {
      &--left {
        left: 25px;
      }

      &--right {
        right: 25px;
      }
    }
  }
}

@media (max-width: 500px) {
  .promo-slider {
    &__item {
      height: 600px;
    }
  }
}

@media (max-width: 450px) {
  .promo-slider {
    &__item {
      height: 700px;
    }
  }
}
