.recent-projects {
  &__header {
    margin-bottom: 20px;

    font-family: 'Bree Serif', serif;
    font-size: 30px;
    line-height: 1;
    color: $secondary-color;
  }

  &__item {
    display: flex;

    margin-bottom: 10px;

    border-bottom: 1px solid #556270;

    &:last-child {
      margin-bottom: 0;

      border-bottom: none;
    }
  }

  &__item-image {
    width: 56px;
    height: 56px;

    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__item-header {
    margin: 0;

    font-size: 12px;
    line-height: 20px;
    color: #a3afb2;
  }

  &__item-date {
    margin: 0;

    font-size: 12px;
    line-height: 20px;
    color: #a3afb2;
  }
}

@media #{$mobile-width} {
  .recent-projects {
    margin-bottom: 50px;
    
    text-align: center;

    &__header {
      margin-bottom: 25px;
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    &__item-info {
      text-align: left;
    }

    &__item-header {
      margin-bottom: 10px;

      font-size: 20px;
      line-height: 24px;
    }

    &__item-link {
      font-size: 20px;
      line-height: 24px;
    }

    &__item-date {
      font-size: 18px;
      line-height: 22px;
    }

    &__item-image {
      width: 100px;
      height: 100px;
    }
  }
}
