html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

a {
  font-weight: 700;
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: #2bb9ed;
  }

  &:active {
    color: #0f7ca3;
  }
}
