.search-bar {
  padding: 34px 0;
  
  &__text {
    position: relative;

    display: block;

    margin: 0;
    padding-right: 45px;

    font-size: 12px;
    line-height: 1;
    color: #515862;

    cursor: pointer;

    &:after {
      content: "";

      position: absolute;
      left: 45px;
      top: 50%;

      width: 36px;
      height: 36px;

      margin-top: -18px;

      background: $secondary-color url("../img/decor/sprite.png") -313px -76px no-repeat;

      border-radius: 50%;
    }

    &:hover {
      color: $primary-color;

      &:after {
        background-color: $primary-color;
      }
    }

    &:active {
      color: #0f7ca3;

      &:after {
        background-color: #0f7ca3;;
      }
    }
  }
}