.services {
  padding: 0 180px;
  padding-bottom: 25px;

  border-bottom: 1px solid #d7d9da;

  text-align: center;

  &__header {
    position: relative;

    display: inline-block;

    margin-top: -24px;
    margin-bottom: 30px;
    padding: 10px 25px;

    background-color: $primary-color;

    border-radius: 3px;

    font-size: 22px;
    line-height: 1;
    color: #fff;

    z-index: 2;

    overflow: auto;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;

    margin-right: 60px;
    padding-top: 150px;

    &:after {
      content: "";

      position: absolute;
      left: 50%;
      top: 0;

      width: 118px;
      height: 118px;

      margin-left: -59px;

      background: url("../img/decor/sprite.png") no-repeat;
    }

    &--web-design:after {
      background-position: -178px -143px;
    }

    &--seo:after {
      background-position: -395px -20px;
    }

    &--shope:after {
      background-position: -20px -143px;
    }

    &--media:after {
      background-position: -336px -178px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-image {
    margin-bottom: 25px;
  }

  &__item-header {
    margin: 0;
    margin-bottom: 10px;

    font-family: 'Bree Serif', serif;
    font-size: 17px;
    line-height: 1;
    color: #515862;
  }

  &__item-text {
    font-size: 11px;
    line-height: 15px;
    color: #515862;
  }

  &__item-link {
    font-weight: 700;
  }
}

@media #{$tablet-width} {
  .services {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media #{$mobile-width} {
  .services {
    padding-left: 50px;
    padding-right: 50px;

    &__items {
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: 100%;

      margin-right: 0;
      margin-bottom: 30px;

      border-bottom: 1px solid #d7d9da;

      &:last-child {
        margin-bottom: 0;

        border-bottom: none;
      }
    }

    &__item-header {
      font-size: 21px;
      line-height: 1;
    }

    &__item-text {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
