.twitter-feed {
  &__header {
    margin-bottom: 20px;

    font-family: 'Bree Serif', serif;
    font-size: 30px;
    line-height: 1;
    color: $secondary-color;
  }

  &__item {
    border-bottom: 1px solid #556270;

    &:last-child {
      border-bottom: none;
    }
  }

  &__item-text {
    font-size: 12px;
    line-height: 20px;
    color: #a3afb2;
  }

  &__item-date {
    font-size: 12px;
    line-height: 20px;
    color: #a3afb2;
  }
}

@media #{$mobile-width} {
  .twitter-feed {
    margin-bottom: 50px;

    text-align: center;

    &__header {
      margin-bottom: 25px;
    }

    &__item-text {
      font-size: 18px;
      line-height: 20px;
    }

    &__item-link {
      font-size: 18px;
      line-height: 20px;
    }

    &__item-date {
      font-size: 16px;
      line-height: 20px;
    }
  }
}